@media screen and (max-width: 1500px){
	
}
@media screen and (max-width: 1380px){
	
}
@media screen and (max-width: 1310px){
		
}
@media screen and (max-width: 1300px){
	
}
@media screen and (max-width: 1250px){
	
}

@media screen and (max-width: 1150px){
	
}

@media screen and (max-width: 1100px){
	
}

@media screen and (max-width: 999px){
	.catalog__page{margin-left: 0; margin-right: 0;}
	.catalog .block{width: 50%;}
	.partners__page .block{width: 25%;}
	.contacts__page .form_block{padding-left: 20px;}
	.contacts__page .contacts_block{padding-right: 20px;}
	.contacts__page .contacts_block, .contacts__page .form_block{width: 250px;}
	.big_banner, .big_banner.no_bg{display: block; padding: 100px 20px; height: auto;}
	.btn11{display: block; float: right; margin-top: 35px;}
	#header .menu.active nav{display: block;}
	#header .menu > nav > ul > li.drop > ul > li > a .image_block, #header .menu > nav > ul > li.drop > ul:before, #header .menu > nav > ul > li.drop > ul:after{display: none;}
	#header .menu .flex_no_wrap{display: block;}
	#header .menu > nav > ul > li.drop:after{margin-left: 10px; margin-right: 10px;}
	#header .menu > nav > ul > li.drop > ul{position: relative; margin-top: 0; right: auto; width: auto; padding: 10px 10px; border:0;}
	#header .menu > nav > ul > li.drop > ul > li{margin-bottom: 0;}
	#header .menu nav{display: none; position: absolute; right: 0; z-index: 2; margin-top: 60px; background: #fff; border:1px solid #0569a5; padding: 20px; width: 270px;}
	#header .inner{display: block; position: relative;}
	#header .logo{float: left; margin-bottom: 12px;}
	#header .search_block{clear: both; width: auto;}
	#header{height: 160px;}
	#subfooter{display: none;}
	#footer{height: auto; margin-top: 0;}
	#footer .contacts_block .work{right: 0; left: auto; bottom: 10px;}
	#footer .inner{position: relative; padding-bottom: 20px;}
	#footer .logo_block, #footer .footer_menu, #footer .contacts_block, #footer .form_footer{width: 49%; padding-right: 0; padding-bottom: 20px; position: static;}
}

@media screen and (max-width: 957px){
	
}

@media screen and (max-width: 950px){
	
}

@media screen and (max-width: 900px){
	
}

@media screen and (max-width: 800px){
	
}

@media screen and (max-width: 650px){
	.catalog{display: block;}
	.catalog .block{width: auto; max-width: 300px; padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto;}
	.partners__page .owl-prev{position: absolute; left: -20px; top: 50%; margin-top: -10px; font-size: 30px; color: #ccc;}
	.partners__page .owl-next{position: absolute; right: -20px; top: 50%; margin-top: -10px; font-size: 30px; color: #ccc;}
	.partners__page .block{width: auto;}
	.partners__page .flex_wrap{display: block; margin-left: 20px; margin-right: 20px; position: relative;}
	.contacts__page .double_map .block{width: auto;}
	.contacts__page .double_map{display: block;}
	.contacts__page .form_block .button{margin-left: auto; margin-right: auto;}
	.contacts__page .ah1{text-align: center;}
	.contacts__page .form_block form{margin:20px auto 0;}
	.contacts__page{padding-top: 0; padding-bottom: 35px;}
	.contacts__page .contacts_block .address, .contacts__page .contacts_block .tel{margin-left: 25px;}
	.contacts__page .contacts_block, .contacts__page .form_block{width: auto;padding-left: 0; padding-right: 0;}
	.contacts__page .double_block{display: block; margin-bottom: 30px;}
	.about__page .double_block .ah1{margin-bottom: 15px;}
	.about__page .double_block .sklad, .about__page .double_block .truck{width: auto;}
	.about__page .double_block{display: block;}
	.main_menu .w33{width: auto; padding-right: 0;}
	.main_menu{display: block;}
	#footer .contacts_block .work{width: 100%; margin-left: 0; bottom: 33px;}
	#footer .logo_block .copy{width: 100%; bottom: 10px;}
	#footer .form_footer .button{margin-left: auto; margin-right: auto;}
	#footer .form_footer .ah1{padding-left: 0; margin-bottom: 10px;}
	#footer .form_footer form{margin-left: auto; margin-right: auto;}
	#footer .contacts_block .address{padding-left: 0; margin-left: auto; margin-right: auto; margin-bottom: 20px;}
	#footer .contacts_block .address:before{position: relative; display: inline-block; vertical-align: top; margin-right: 10px;}
	#footer .logo_block .logo{margin-left: auto; margin-right: auto;}
	#footer .logo_block, #footer .footer_menu, #footer .contacts_block, #footer .form_footer{width: auto; text-align: center;}
	#footer .inner{display: block; padding-bottom: 50px;}
	.about_block .text_block .button{margin-top: 20px; margin-left: auto; margin-right: auto;}
	.about_block .ah1{text-align: center; margin-bottom: 10px;}
	.about_block .image_block, .about_block .text_block{width: auto; margin-bottom: 20px;}
	.about_block .flex_no_wrap{display: block;}
	.big_banner{padding-top: 50px; padding-bottom: 50px;}
	.big_banner .ah1, .about_block .ah1, .big_banner .ah2{font-size: 25px; line-height: 27px; }
	.big_banner.no_bg{padding-top: 40px; padding-bottom: 10px;}
	.inner{width: 92%;}
}

@media screen and (max-width: 700px){
	
	
}

@media screen and (max-width: 650px){
	
	
}

@media screen and (max-width: 600px){
	
}

@media screen and (max-width: 500px){
	
}

@media screen and (max-width: 440px){
	.contacts__page .double_map .block{height: 200px;}
}

@media screen and (max-width: 400px){
		
}

@media screen and (max-width: 350px){
		
}